<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des utilisateurs</title>
</head>
<body>
    <h1>Liste des utilisateurs</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom et Prénom</th>
                <th>Date de Naissance</th>
                <th>Année d'Arrivée</th>
                <th>Email</th>
                <th>Établissement</th>
                <th>Filière</th>
                <th>Code Étudiant</th>
                <th>Photo</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user[0] }}</td>
                <td>{{ user[1] }}</td>
                <td>{{ user[2] }}</td>
                <td>{{ user[3] }}</td>
                <td>{{ user[4] }}</td>
                <td>{{ user[5] }}</td>
                <td>{{ user[6] }}</td>
                <td>{{ user[7] }}</td>
                <td>
                    {% if user[8] %}
                    <img src="{{ url_for('static', filename='uploads/' + user[8]) }}" alt="Photo" width="100">
                    {% else %}
                    Aucune photo
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
